---
verbose: true # Default is off
notifiers:
  slack:
    webhook_url: https://hooks.slack.com/services/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
    channel: vulcan-alerts

units:
- logstash.service
